Windows/VisualStudio/.vs
Windows/VisualStudio/.vs/quakespasm/v16/Solution.VC.db-shm
Windows/VisualStudio/.vs/quakespasm/v16/Browse.VC.opendb
Windows/VisualStudio/.vs/quakespasm/v16/Browse.VC.db-wal
Windows/VisualStudio/.vs/quakespasm/v16/Browse.VC.db-shm
Windows/VisualStudio/.vs/quakespasm/v16/Browse.VC.db
Windows/VisualStudio/.vs/quakespasm/v16/.suo
Windows/VisualStudio/.vs/quakespasm/v16/Browse.VC.db
Windows/VisualStudio/.vs/quakespasm/v16/.suo
